.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.thumbnailImage {
  width: 950px;
  height: 400px;
  margin-bottom: 20px;
  box-shadow: 1px 1px ï¼–px rgb(187, 187, 187);
  transition: all 0.3s;
  cursor: pointer;
}

.thumbnailImage:hover {
  transform: translate(2px, 3px);
  box-shadow: none;
}

.grid {
  display: grid;
  flex-wrap: wrap;
  max-width: 1200px;
  gap: 40px;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}